{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Hỗ Trợ Người Khuyết tật</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/css/infor.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        font-family: 'Times New Roman', Times, serif;
    }
    
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        border-radius: 15px;
    }
    
    input[type=text]:focus {
        border: 3px solid #555;
    }
    
    select,
    option {
        /* width: 100%;
        height: 40px; */
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        /* border-radius: 15px; */
    }
    /* select {
        width: 250px;
        margin: 10px;
        height: 40px;
    }
    
    select:focus {
        min-width: 150px;
        width: auto;
    } */
    
    label {
        font-size: 25px;
        font-weight: bold;
    }
</style>

<body>
    {% include 'accounts/navbar.html' %}

    <div class="container mt-3">
        <h2 class="text-center">ĐĂNG KÍ THÔNG TIN</h2>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">THÔNG TIN CHUNG </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">KHUYẾT TẬT </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">NHU CẦU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu3">HỖ TRỢ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu4">HƯỚNG NGHIỆP</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <!-- MultiStep Form -->
                <form action="{% url 'infor' %}" method="POST">
                    {% csrf_token %}
                    <hr>
                    <h3> THÔNG TIN LIÊN LẠC NKT</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>Địa chỉ liên lạc NKT:</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            {{form.diachi}}
                            <div style="color: red;">
                                {{form.diachi.errors}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Số ĐT liên hệ NKT:</label>
                                <!-- <input type="number" class="form-control" name="pswd" required> -->
                                {{form.sodtlh}}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Ngày cập nhật (*):</label> {{form.ngaycapnhat}}
                                <div style="color: red;">
                                    {{form.ngaycapnhat.errors}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Người cập nhật:</label> {{form.nguoicapnhat}}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Họ tên người quản lý:</label> {{form.hotennguoiqli}}

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Đơn vị công tác:</label> {{form.donvictac}}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>
                                    Lĩnh vực:</label> {{form.linhvuc}}
                            </div>
                        </div>
                    </div>

                    <hr>
                    <h3>THÔNG TIN NGƯỜI KHUYẾT TẬT</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Số TT NKT:</label> {{form.sottnkt}}

                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label> Họ, chữ đệm và tên khai sinh NKT (*):</label> {{form.hotenkhaisinhnkt}}
                                

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Ngày sinh (*)</label> {{form.ngaysinhnkt}}
                                <div style="color: red;">
                                    {{form.ngaycapnhat.errors}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label> Số hiệu Giấy xác nhận khuyết tật:</label> {{form.sohieugiayxacnhan}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Số CMND:</label> {{form.socmnd}}

                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label> Số định danh:</label> {{form.sodinhdanh}}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Giới tính:</label> {{form.gioitinh}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nơi đăng ký khai sinh:</label> {{form.noidkkhaisinh}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label> Quê quán:</label> {{form.quequan}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label> Địa chỉ thường trú:</label> {{form.diachithuongtru}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Dân tộc:</label> {{form.dantoc}}

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Tôn giáo:</label> {{form.tongiao}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label> Quốc tịch:</label> {{form.quoctich}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Nhóm máu:</label> {{form.nhommau}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Trình độ học vấn:</label> {{form.trinhdo}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Trình độ chuyên môn:</label> {{form.chuyenmon}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Nghề nghiệp hiện nay:</label> {{form.nghenghiep}}

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Tình trạng hôn nhân:</label> {{form.honnhan}}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tổng số con:</label> {{form.tongsocon}}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Số con dưới 16:</label> {{form.soconduoi16}}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group ">
                                    <label>Nạn nhân chất độc màu da cam:</label> {{form.chatdocdacam}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3>THÔNG TIN HỘ GIA ĐÌNH</h3>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Họ và tên chủ hộ:</label> {{form.hotenchuho}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Số CMND:</label> {{form.socmndchuho}}
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Mã số định danh:</label> {{form.masodinhdanhchuho}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Quốc tịch:</label> {{form.quoctichchuho}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label for="exampleFormControlSelect1 ">Quan hệ với NKT:</label> {{form.quanhevoinkthogiadinh}}

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Số điện thoại liên lạc:</label> {{form.sdtlienlachogiadinh}}

                                </div>
                            </div>

                        </div>
                        </hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Họ và tên cha, mẹ, vợ, chồng hoặc người đại diện hợp pháp:</label> {{form.hotennguoidaidien}}

                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>Số CMND:</label> {{form.socmndnguoidaidien}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label>Mã số định danh:</label> {{form.masodinhdanhnguoidaidien}}
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label>Quốc tịch:</label> {{form.quoctichnguoidaidien}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="form-group ">

                                    <label for="exampleFormControlSelect1 ">Quan hệ với NKT:</label> {{form.nguoidaidienquanhevoinkt}}

                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label>Số điện thoại liên lạc:</label> {{form.sdtnguoidaidien}}

                                </div>
                            </div>

                        </div>

                        <hr>
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label for="uname ">Họ tên người chăm sóc:</label> {{form.hotennguoichamsoc}}
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label for="uname ">Số CMND:</label> {{form.socmndnguoichamsoc}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label for="uname ">Mã số định danh:</label> {{form.masodinhdanhnguoichamsoc}}
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label for="uname ">Quốc tịch:</label> {{form.quoctichnguoichamsoc}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label for="exampleFormControlSelect1 ">Quan hệ với NKT:</label> {{form.nguoichamsocqhvsnkt}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group ">
                                    <label>SĐT người chăm sóc:</label> {{form.sodtnguoichamsoc}}
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>Số người trong hộ:</label> {{form.songuoitrongho}}
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>Số NKT trong hộ:</label> {{form.sonkttrongho}}
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>Số trẻ dưới 16 tuổi:</label> {{form.sotreemduoi16}}

                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>Số người lao động:</label> {{form.songuoilaodong}}
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label for="exampleFormControlSelect1 ">Hoàn cảnh kinh tế gia đình:</label> {{form.hoancanh}}
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">

                                    <label for="exampleFormControlSelect1 ">Nguồn nước sử dụng:</label> {{form.nguonnuoc}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>Nhà vệ sinh:</label> {{form.nhavesinh}}
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">
                                    <label>NKT có thể sử dụng nhà vệ sinh:</label> {{form.nhavesinh}}
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group ">

                                    <label for="exampleFormControlSelect1 ">Tình trạng nhà ở:</label> {{form.tinhtrangnha}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" />

                </form>

                </div>
                <div id="menu1 " class="container tab-pane fade "><br>
                    <div class="row ">
                        <div class="col-sm-4 ">
                            <h3>Vận động</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Bại não</label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Liệt tứ chi</label>
                            </div>

                        </div>
                        <div class="col-sm-4 ">
                            <h3>Nhìn</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Mù màu</label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Quáng gà</label>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <h3>Nghe, nói</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Khó khăn nói
                                </label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Khó khăn nghe</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="menu2 " class="container tab-pane fade "><br>
                    <div class="row ">
                        <div class="col-sm-4 ">
                            <h3>Vận động</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Bại não</label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Liệt tứ chi</label>
                            </div>

                        </div>
                        <div class="col-sm-4 ">
                            <h3>Nhìn</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Mù màu</label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Quáng gà</label>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <h3>Nghe, nói</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Khó khăn nói
                                </label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Khó khăn nghe</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="menu3 " class="container tab-pane fade "><br>
                    <div class="row ">
                        <div class="col-sm-4 ">
                            <h3>Y TẾ
                            </h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Bại não</label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Liệt tứ chi</label>
                            </div>

                        </div>
                        <div class="col-sm-4 ">
                            <h3>ĐỜI SỐNG, KINH TẾ, HÒA NHẬP XÃ HỘI</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Mù màu</label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Quáng gà</label>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <h3>GIÁO DỤC</h3>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Khó khăn nói
                                </label>
                            </div>
                            <div class="form-check ">
                                <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
                                <label class="form-check-label " for="exampleCheck1 ">Khó khăn nghe</label>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="menu4" class="container tab-pane fade"><br>
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>

        <script src="{% static 'js/infor.js' %} "></script>

        <!-- footer -->
        <div class="jumbotron text-center " style="margin-bottom:0 ">
            <p>Copyright 2020-2021 by Team RoNV </p>
        </div>

</body>

</html>